.galleryContainer {
  display: flex;
  flex-direction: row;
}

.gallery {
  width: 300px;
  margin: 10px;
}

.galleryItem {
  text-align: center;
  background-color: whitesmoke;
  padding: 15px;
  font-size: 20px;
  box-shadow: 0px 0px 5px 1px #aad;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
}

.galleryItem:hover {
  color: white;
  background-color: #88b;
}

.emptyGallery {
  color: white;  
  text-align: center;
}